<template id="linkn-intro">
  <section class="intro">
    <div class="intro-banner">
      <img class="intro-banner-image" src="{{ path.assets }}/{{ brand.banner }}">
    </div>
    <div class="intro-logo">
      <img class="intro-logo-image" src="{{ path.assets }}/{{ brand.logo }}">
    </div>
    <h1 class="intro-title">
      <a href="" @click.prevent="about" class="intro-title-link">
        {{ brand.name }}
      </a>
    </h1>
  </section>
</template>
